/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #088a08;

/* icon font path, required */
$--font-path: "~element-plus/lib/theme-chalk/fonts";

$font-size-1: 2em;
$font-size-2: 1.4em;
$font-size-3: 1.1em;

@import "~element-plus/packages/theme-chalk/src/index";

@mixin center {
  margin: auto;
  width: 75%;
}

.el-form--label-top .el-form-item__label {
  padding: 0px;
}

.el-divider__text {
  font-size: $font-size-1;
}

.el-form-item__label {
  font-size: $font-size-2;
}

.el-input__inner {
  font-size: $font-size-2;
}

.el-progress-bar__innerText {
  font-size: $font-size-2;
}

.el-tag {
  font-size: $font-size-3;
}
// .el-form-item {
//   @include center;
//   margin-bottom: 22px;
//   text-align: center;
// }

// .el-form-item__label-wrap {
//   float: right;
// }
