/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

/* icon font path, required */
$--font-path: "~element-plus/lib/theme-chalk/fonts";

$font-size-1: 2em;
$font-size-2: 1.4em;
$font-size-3: 1.1em;
$background-color: rgb(35, 45, 50);
$font-color: #d2c8be;
$planted-green: #009150;

$--color-primary: $planted-green;

@import "~element-plus/packages/theme-chalk/src/index";

@mixin dark {
  background-color: $background-color;
  color: $font-color;
}

@mixin center {
  margin: auto;
  width: 75%;
}

.el-form--label-top .el-form-item__label {
  padding: 0px;
}

.el-divider__text {
  @include dark;
  font-size: $font-size-1;
}

.el-form-item__label {
  @include dark;
  font-size: $font-size-2;
}

.el-select-dropdown__list,
.el-input__inner,
.el-select-dropdown__item,
.el-select-dropdown__wrap,
.el-scrollbar__view {
  background-color: $font-color;
}
.el-input__inner,
.el-select-dropdown__item {
  font-size: $font-size-2;
  background-color: $font-color;
}

.el-input-number__increase,
.el-input-number__decrease {
  // background-color: $font-color;
  // color: $planted-green;
}

// .el-icon-plus {
//   font-weight: 1500;
//   font-style: bold;
// }

.el-select-dropdown__item {
  font-size: $font-size-2;
  font-family: Arial, Helvetica, sans-serif;
}

.el-progress-bar__innerText {
  font-size: $font-size-2;
}

.el-tag {
  margin: 5% 0;
  font-size: $font-size-3;
  background-color: $background-color;
}

.el-collapse-item__header {
  @include dark;
}

.el-collapse-item__content {
  @include dark;
}

.el-collapse-item__wrap {
  @include dark;
}
